<h1>merhaba</h1>
property binding
<app-home [pageName]="pageName"></app-home>

<p>{{name}}</p>
<img [src]="src" [width]="width">
<br>
<input type="text" [value]="title">
<button on-click="btnClick(); btnClick2()">Click</button>
<input (keydown.shift.a)="aEvent()" value="Aaa">
<input (keydown.shift.b)="bEvent()" value="Bbb">
<br>
Two-Way Data Binding
<br>
<input type="text" [(ngModel)]="name2" (ngModelChange)="onChange($event)"> <br>
<input type="text" [(ngModel)]="name2"> <br>
{{name2}}
<!-- uygulamanın ana modulünde FormsModule import edilmeli -->

<button [disabled]="disabled">Send</button>

<table [border]="border" [width]="width">
    <tr>
        <td [height]="height"></td>
        <td></td>
    </tr>
    <tr>
        <td [height]="height" [attr.colspan]="colspan"></td>
    </tr>

</table>

<div [style.background-color]="bgColor">
    <h2>Style and Class Binding</h2>
</div>
`,
merhaba
{{title}}
<br>
{{3 | currency}}

<app-home></app-home>

